data/settings.json
project.discordbot
DBM-RAW/
data\servers.json
data\serverVars.json
data\serverSettings.json
data\players.json
data\globals.json
data\globalVars.json
API Endpoints/endpoints.txt
data/players.json
